<section class="row featured-post-carousel">
  <center>
    <div class="item post">
      <img src="http://placehold.it/1970x500" alt="" class="img-responsive main-bg">
    </div>
  </center>
</section>
<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
