<section class="row featured-post-carousel">
  <center>
    <div class="item post">
      <img src="http://placehold.it/1970x500" alt="" class="img-responsive main-bg">
    </div>
  </center>
</section>
<% if user_signed_in? %>
<section class="row content-wrap">
    <div class="container">
        <div class="row justify-content-center" id="post-masonry">
            <article class="post post-masonry post-format-image">
                <div class="post-wrapper row">
                    <div class="post-excerpt row">
                        <section class="container-fluid">
                          <h1 class="post-title">
                            Nueva Publicacion
                          </h1>
                        </section>
                        <section class="container-fluid">
                          <%= render 'form', publication: @publication %>
                        </section>
                      </div>
                    </div>
              </article>
          </div>
        </div>
</section>
<%else%>
<section class="row content-wrap">
  <center>
    <h2 class="taxonomy">Lo sentimos,<i> No cuentas con los permisos necesarios para esta opcion.</i></h5>
  </center>
</section>
<%end%>
